
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

    body {
        font-family: "inter", sans-serif;
        font-size: 13px;
        padding: 1rem;
    }
    .head{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid hsl(228, 34%, 66%);
        padding-bottom: 0.5rem;
        /* justify-content:stretch; */

    }
    .head p{
        font-size: 14px;
        font-weight: 600;
        margin-top: 0;
        color: hsl(228, 12%, 44%);
    
    }
    .head h1{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
    .srn-mode{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
    .srn-mode p{
        font-size: 14px;
        font-weight: 600;
        color: hsl(228, 12%, 44%);
    }
    .srn-mode img{
        width: 40px;
        height: 40px;
    }
    .fb{
        border-top: 3px solid  hsl(208, 92%, 53%);
    }
    .tw{
        border-top: 3px solid  hsl(203, 89%, 53%);
    }
    .ig{
        border-top: 3px solid linear hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    }
    .yt{
        border-top: 3px solid  hsl(348, 97%, 39%);
    }
    .card{
        display: flex;
        flex-direction: column;
        background-color: hsl(227, 47%, 96%);
        justify-content: center;
        align-items: center;
        
        border-radius: 5px;
        padding: 0;
        margin-bottom: 1rem;
    }
    .card img{
        width: 20px;
        height: 20px;
    }
    .usnm , .up,.dwn{
        display: flex;
        flex-direction: row;
        column-gap: 9px;
        align-items: center;
        margin: 1rem 0;
    }
    .num{
        font-size: 60px;
        font-weight: 700;
        color: hsl(233, 22%, 7%);
        margin: 0;
        padding: 0;
    }
    .card p:nth-child(3){
        font-size: 14px;
        font-weight: 400;
        color: hsl(228, 12%, 44%);
        margin: 0;
        padding: 0;
        letter-spacing: 3px;
    }
    .up,.dwn{
        flex-direction: row;
        color: hsl(163, 72%, 41%);
        font-size: 14px;
        font-weight: 700;
        margin: 0.5rem 0;
        padding: 0;
    }
    .dwn{
        color: hsl(356, 69%, 56%);
    
    }
    .up img{
        width: 8px;
        height: 8px;
    }
    .dwn img{
        width: 8px;
        height: 8px;
    }
    .overview h2{
        font-size: 25px;
        color:hsl(228, 12%, 44%);
    }
    .page{
        display: flex;
        flex-direction: column;
        background-color: hsl(227, 47%, 96%);
        padding: 1rem 1.5rem;
        font-size: 17px;
        font-weight: 600;
        border-radius: 10px;
        color:hsl(228, 12%, 44%);
        margin-bottom: 1rem;
    }

    .page div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #im-fb {
        width: 20px;
        height: 20px;
    }
    .page img{
        width: 8px;
        height: 8px;
    }
    .rt{
        color:  hsl(163, 72%, 41%);
    }
    .o-num{
        font-size: 35px;
        font-weight: 700;
        color: hsl(233, 22%, 7%);
        margin: 0;
        padding: 0;;
    }
   
    

@media(min-width: 768px) {
    .head{
        border-bottom: none;
        width: auto;
    }
    .dk{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .srn-mode{
        gap: 10px;
    }
    #cards{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: row;
        column-gap: 15px;
        
    }
    .card{
        width: 100%;
    }
    .views{
        /* display: flex;
        flex-direction: row;
        flex-flow: row wrap;
       
        margin: 1rem 0; */
        display: grid;
        grid-template-columns: 4;
        gri
        /* flex-wrap: wrap; */
        column-gap: 20px;
        /* justify-content: space-between; */
    }
    .page{
        flex: 0 0 25%;
        max-width: 100%;
        box-sizing: border-box;
        /* margin: 0 10px; */
        /* width: 20%; */
    }

}